<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#"> <img src="images/icon/logo.png" alt="Cool Admin" /> </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li class="has-sub">
          <a class="js-arrow" href="#">
            <i class="fas fa-tachometer-alt"></i>Quản lý bài viết</a
          >
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li><a href="/admin/schedule/sells/all">Bán và cho thuê</a></li>
            <li><a href="/admin/schedule/finds/all">Tìm nhà và thuê</a></li>
          </ul>
        </li>
        <li>
          <a href="/admin/manager/all">
            <i class="fas fa-chart-bar"></i>Quản lý người dùng</a
          >
        </li>
        <li class="has-sub">
          <a class="js-arrow" href="#"> <i class="fas fa-copy"></i>Pages</a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Forget Password</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->
