<div class="main">
    <div class="cateright">
        <h2 class="imgtvp title">Văn phòng cho thuê tại Hà Nội</h2>
        <ul class="listnews">
            <li>
                <a href="cho-thue-van-phong-mat-pho-tran-quoc-toan-hoan-kiem-dt-82m2.html" title="Cho thuê văn phòng mặt phố Trần Quốc Toản, Hoàn Kiếm. DT 82m2">
                    <img src="../uploads/office_sale/thumb_80-56/1525850277-882317.jpg" title="Cho thuê văn phòng mặt phố Trần Quốc Toản, Hoàn Kiếm. DT 82m2"
                        alt="Cho thuê văn phòng mặt phố Trần Quốc Toản, Hoàn Kiếm. DT 82m2" class="thumb">
                </a>

                <div class="info">
                    <h2><a href="cho-thue-van-phong-mat-pho-tran-quoc-toan-hoan-kiem-dt-82m2.html" title="Cho thuê văn phòng mặt phố Trần Quốc Toản, Hoàn Kiếm. DT 82m2">»
                            Cho thuê văn phòng mặt phố Trần Quốc Toản, Hoàn Kiếm. DT 82m2</a></h2>
                    <p>Cho thuê văn phòng Tòa nhà 9 tầng mặt phố Trần Quốc Toản, Q. Hoàn Kiếm, HN. Tòa nhà&nbsp; hạng
                        C, thiết kế đẹp, hiện đại. Toàn bộ mặt ngoài ốp kính cách âm, cách nhiệt. Tòa nhà ...</p>
                    <div class="source">
                        <span class="item">MS-HK240008</span>
                        <span class="item">
                            <font class="price">30 triệu </font>
                        </span>
                        <font class="price">
                            <span class="item">DT: 82 m2</span>
                            <span class="item">09/05/2018</span>
                            <span class="item"><a href="hoan-kiem/index.html" title="Hoàn Kiếm">Hoàn Kiếm</a></span>
                        </font>
                    </div>
                    <font class="price">
                    </font>
                </div>
                <font class="price">
                </font>
            </li>
            <font class="price">
                <li>
                    <a href="cho-thue-van-phong-toa-nha-vpi-tower-167-trung-kinh-c-giay.html" title="Cho thuê văn phòng tòa nhà VPI Tower, 167 Trung Kính, C.Giấy">
                        <img src="../uploads/office_sale/thumb_80-56/1524123407-511887.png" title="Cho thuê văn phòng tòa nhà VPI Tower, 167 Trung Kính, C.Giấy"
                            alt="Cho thuê văn phòng tòa nhà VPI Tower, 167 Trung Kính, C.Giấy" class="thumb">
                    </a>

                    <div class="info">
                        <h2><a href="cho-thue-van-phong-toa-nha-vpi-tower-167-trung-kinh-c-giay.html" title="Cho thuê văn phòng tòa nhà VPI Tower, 167 Trung Kính, C.Giấy">»
                                Cho thuê văn phòng tòa nhà VPI Tower, 167 Trung Kính, C.Giấy</a></h2>
                        <p>Cho thuê văn phòng VPI Tower, tòa nhà hạng A cao 19 tầng nổi + 2 tầng hầm nằm trên mặt đường
                            Trung Kính, Quận Cầu Giấy, HN. Tòa nhà nằm ở khu vực tập trung nhiều cao ốc văn phòng và
                            giao hông thuận tiện: ...</p>
                        <div class="source">
                            <span class="item">MS-CG240020</span>
                            <span class="item">
                                <font class="price">400 nghìn </font>
                            </span>
                            <font class="price">
                                <span class="item">DT: 100 m2</span>
                                <span class="item">19/04/2018</span>
                                <span class="item"><a href="cau-giay/index.html" title="Cầu Giấy">Cầu Giấy</a></span>
                            </font>
                        </div>
                        <font class="price">
                        </font>
                    </div>
                    <font class="price">
                    </font>
                </li>
                <font class="price">
                    <li>
                        <a href="nhuong-lai-mat-bang-115m2-tang-12-toa-nha-vinaconex-9-tower-san-noi-that.html" title="Nhượng lại mặt bằng 115m2, tầng 12 tòa nhà Vinaconex 9 Tower, sẵn nội thất">
                            <img src="../uploads/office_sale/thumb_80-56/1519986815-277132.jpg" title="Nhượng lại mặt bằng 115m2, tầng 12 tòa nhà Vinaconex 9 Tower, sẵn nội thất"
                                alt="Nhượng lại mặt bằng 115m2, tầng 12 tòa nhà Vinaconex 9 Tower, sẵn nội thất" class="thumb">
                        </a>

                        <div class="info">
                            <h2><a href="nhuong-lai-mat-bang-115m2-tang-12-toa-nha-vinaconex-9-tower-san-noi-that.html"
                                    title="Nhượng lại mặt bằng 115m2, tầng 12 tòa nhà Vinaconex 9 Tower, sẵn nội thất">»
                                    Nhượng lại mặt bằng 115m2, tầng 12 tòa nhà Vinaconex 9 Tower, sẵn nội thất</a></h2>
                            <p>Nhượng lại mặt bằng 115m2, tầng 12 tòa nhà Vinaconex 9 Tower, sẵn nội thất cơ bản gồm:
                                Trần hoàn thiện (điều hòa, đèn chiếu sáng), tường vách bao quanh diện tích thuê, cửa ra
                                vào, hệ thống báo ...</p>
                            <div class="source">
                                <span class="item">MS-TL260014</span>
                                <span class="item">
                                    <font class="price">320 nghìn/m2 </font>
                                </span>
                                <font class="price">
                                    <span class="item">DT: 115 m2</span>
                                    <span class="item">02/03/2018</span>
                                    <span class="item"><a href="tu-liem/index.html" title="Từ Liêm">Từ Liêm</a></span>
                                </font>
                            </div>
                            <font class="price">
                            </font>
                        </div>
                        <font class="price">
                        </font>
                    </li>
                    <font class="price">
                        <li>
                            <a href="nhuong-lai-mat-bang-390m2-toa-nha-ceo-tower-pham-hung-gia-5-m2.html" title="Nhượng lại mặt bằng 390m2, tòa nhà CEO Tower- Phạm Hùng. Giá: 5$/m2">
                                <img src="../uploads/office_sale/thumb_80-56/1516782737-314405.jpg" title="Nhượng lại mặt bằng 390m2, tòa nhà CEO Tower- Phạm Hùng. Giá: 5$/m2"
                                    alt="Nhượng lại mặt bằng 390m2, tòa nhà CEO Tower- Phạm Hùng. Giá: 5$/m2" class="thumb">
                            </a>

                            <div class="info">
                                <h2><a href="nhuong-lai-mat-bang-390m2-toa-nha-ceo-tower-pham-hung-gia-5-m2.html" title="Nhượng lại mặt bằng 390m2, tòa nhà CEO Tower- Phạm Hùng. Giá: 5$/m2">»
                                        Nhượng lại mặt bằng 390m2, tòa nhà CEO Tower- Phạm Hùng. Giá: 5$/m2</a></h2>
                                <p>Nhượng lại mặt bằng 390m2, tòa nhà CEO Tower- Phạm Hùng. Là tòa nhà văn phòng hạng
                                    A, đối diện với toà nhà Keangnam , gần tháp đôi The Manor, gần Trung tâm hội nghị
                                    Quốc gia... Giao thông của ...</p>
                                <div class="source">
                                    <span class="item">MS-TL260013</span>
                                    <span class="item">
                                        <font class="price">110 nghìn/m2 </font>
                                    </span>
                                    <font class="price">
                                        <span class="item">DT: 390 m2</span>
                                        <span class="item">24/01/2018</span>
                                        <span class="item"><a href="tu-liem/index.html" title="Từ Liêm">Từ Liêm</a></span>
                                    </font>
                                </div>
                                <font class="price">
                                </font>
                            </div>
                            <font class="price">
                            </font>
                        </li>
                        <font class="price">
                            <li>
                                <a href="cho-thue-van-phong-tron-goi-v-office-152-pho-duc-chinh-q-ba-dinh.html" title="Cho thuê Văn phòng trọn gói V- OFFICE- 152 Phó Đức Chính, Q. Ba Đình">
                                    <img src="../uploads/office_sale/thumb_80-56/1516073866-805623.jpg" title="Cho thuê Văn phòng trọn gói V- OFFICE- 152 Phó Đức Chính, Q. Ba Đình"
                                        alt="Cho thuê Văn phòng trọn gói V- OFFICE- 152 Phó Đức Chính, Q. Ba Đình"
                                        class="thumb">
                                </a>

                                <div class="info">
                                    <h2><a href="cho-thue-van-phong-tron-goi-v-office-152-pho-duc-chinh-q-ba-dinh.html"
                                            title="Cho thuê Văn phòng trọn gói V- OFFICE- 152 Phó Đức Chính, Q. Ba Đình">»
                                            Cho thuê Văn phòng trọn gói V- OFFICE- 152 Phó Đức Chính, Q. Ba Đình</a></h2>
                                    <p>Cho thuê văn phòng trọn gói V- OFFICE, toà nhà Tháp Việt- 152 Phó Đức Chính, Q.
                                        Ba Đình, HN. DT 330m2 x 12 tầng, giá từ 6-15tr/tháng với nhiều diện tích lựa
                                        chọn 6-12-20m2, phù hợp với các văn ...</p>
                                    <div class="source">
                                        <span class="item">MS-BD240003</span>
                                        <span class="item">
                                            <font class="price">6 triệu/ tháng </font>
                                        </span>
                                        <font class="price">
                                            <span class="item">DT: 6 m2</span>
                                            <span class="item">16/01/2018</span>
                                            <span class="item"><a href="ba-dinh/index.html" title="Ba Đình">Ba Đình</a></span>
                                        </font>
                                    </div>
                                    <font class="price">
                                    </font>
                                </div>
                                <font class="price">
                                </font>
                            </li>
                            <font class="price">
                                <li>
                                    <a href="cho-thue-van-phong-tron-goi-toa-nha-imperia-garden-203-nguyen-huy-tuong-t-xuan-gia-7-trieu-thang.html"
                                        title="Cho thuê văn phòng trọn gói tòa nhà Imperia Garden, 203 Nguyễn Huy Tưởng, T. Xuân. Giá 7 triệu/ tháng">
                                        <img src="../uploads/office_sale/thumb_80-56/1511865193-840966.jpg" title="Cho thuê văn phòng trọn gói tòa nhà Imperia Garden, 203 Nguyễn Huy Tưởng, T. Xuân. Giá 7 triệu/ tháng"
                                            alt="Cho thuê văn phòng trọn gói tòa nhà Imperia Garden, 203 Nguyễn Huy Tưởng, T. Xuân. Giá 7 triệu/ tháng"
                                            class="thumb">
                                    </a>

                                    <div class="info">
                                        <h2><a href="cho-thue-van-phong-tron-goi-toa-nha-imperia-garden-203-nguyen-huy-tuong-t-xuan-gia-7-trieu-thang.html"
                                                title="Cho thuê văn phòng trọn gói tòa nhà Imperia Garden, 203 Nguyễn Huy Tưởng, T. Xuân. Giá 7 triệu/ tháng">»
                                                Cho thuê văn phòng trọn gói tòa nhà Imperia Garden, 203 Nguyễn Huy
                                                Tưởng, T. Xuân. Giá 7 triệu/ tháng</a></h2>
                                        <p>Cho thuê văn phòng trọn gói tòa nhà Imperia Garden, 203 Nguyễn Huy Tưởng, T.
                                            Xuân. Vị trí&nbsp;thuận tiện giao thông, gần khu vực trường học, trung tâm
                                            và khu thương mại sầm uất của thành phố.

                                            Từ tòa ...</p>
                                        <div class="source">
                                            <span class="item">MS-TX250006</span>
                                            <span class="item">
                                                <font class="price">7 triệu/ tháng </font>
                                            </span>
                                            <font class="price">
                                                <span class="item">DT: 10m2 m2</span>
                                                <span class="item">28/11/2017</span>
                                                <span class="item"><a href="thanh-xuan/index.html" title="Thanh Xuân">Thanh
                                                        Xuân</a></span>
                                            </font>
                                        </div>
                                        <font class="price">
                                        </font>
                                    </div>
                                    <font class="price">
                                    </font>
                                </li>
                                <font class="price">
                                    <li>
                                        <a href="cho-thue-van-phong-tron-goi-toa-nha-icon-4-tower-kim-ma.html" title="Cho thuê văn phòng trọn gói tòa nhà Icon 4 Tower, Kim Mã">
                                            <img src="../uploads/office_sale/thumb_80-56/1511259537-242382.jpg" title="Cho thuê văn phòng trọn gói tòa nhà Icon 4 Tower, Kim Mã"
                                                alt="Cho thuê văn phòng trọn gói tòa nhà Icon 4 Tower, Kim Mã" class="thumb">
                                        </a>

                                        <div class="info">
                                            <h2><a href="cho-thue-van-phong-tron-goi-toa-nha-icon-4-tower-kim-ma.html"
                                                    title="Cho thuê văn phòng trọn gói tòa nhà Icon 4 Tower, Kim Mã">»
                                                    Cho thuê văn phòng trọn gói tòa nhà Icon 4 Tower, Kim Mã</a></h2>
                                            <p>Cho thuê văn phòng trọn gói tòa nhà Icon 4 Tower, Kim Mã. Tòa nhà văn
                                                phòng hạng A nằm trên mặt phố Đê La Thành, Q. Đống Đa. Tòa nhà nằm ở
                                                tuyến phố chính, đường đôi 2 chiều ...</p>
                                            <div class="source">
                                                <span class="item">MS-DD250019</span>
                                                <span class="item">
                                                    <font class="price">12 triệu/ tháng </font>
                                                </span>
                                                <font class="price">
                                                    <span class="item">DT: 10 m2</span>
                                                    <span class="item">21/11/2017</span>
                                                    <span class="item"><a href="dong-da/index.html" title="Đống Đa">Đống
                                                            Đa</a></span>
                                                </font>
                                            </div>
                                            <font class="price">
                                            </font>
                                        </div>
                                        <font class="price">
                                        </font>
                                    </li>
                                    <font class="price">
                                        <li>
                                            <a href="cho-thue-van-phong-toa-nha-ellipse-tower-110-tran-phu-ha-dong.html"
                                                title="Cho thuê văn phòng tòa nhà Ellipse Tower, 110 Trần Phú, Hà Đông">
                                                <img src="../uploads/office_sale/thumb_80-56/1511170349-109943.jpg"
                                                    title="Cho thuê văn phòng tòa nhà Ellipse Tower, 110 Trần Phú, Hà Đông"
                                                    alt="Cho thuê văn phòng tòa nhà Ellipse Tower, 110 Trần Phú, Hà Đông"
                                                    class="thumb">
                                            </a>

                                            <div class="info">
                                                <h2><a href="cho-thue-van-phong-toa-nha-ellipse-tower-110-tran-phu-ha-dong.html"
                                                        title="Cho thuê văn phòng tòa nhà Ellipse Tower, 110 Trần Phú, Hà Đông">»
                                                        Cho thuê văn phòng tòa nhà Ellipse Tower, 110 Trần Phú, Hà Đông</a></h2>
                                                <p>Cho thuê văn phòng tòa nhà Ellipse Tower, 110 Trần Phú, Hà Đông, Hà
                                                    nội (tòa nhà cạnh cây xăng). - nằm trên trục chính của đường sắt
                                                    trên cao, thuận tiện đi lại, view đẹp có khu vệ sinh ...</p>
                                                <div class="source">
                                                    <span class="item">MS-HD260019</span>
                                                    <span class="item">
                                                        <font class="price">150 nghìn/m2 </font>
                                                    </span>
                                                    <font class="price">
                                                        <span class="item">DT: 33m2 m2</span>
                                                        <span class="item">20/11/2017</span>
                                                        <span class="item"><a href="ha-dong/index.html" title="Hà Đông">Hà
                                                                Đông</a></span>
                                                    </font>
                                                </div>
                                                <font class="price">
                                                </font>
                                            </div>
                                            <font class="price">
                                            </font>
                                        </li>
                                        <font class="price">

                                        </font>
                                    </font>
                                </font>
                            </font>
                        </font>
                    </font>
                </font>
            </font>
        </ul>
        <font class="price">
            <font class="price">
                <font class="price">

                    <div class="panaging">
                        <div class="pagination">
                            <ul>
                                &nbsp;<strong><a class="currentpage">1</a></strong>&nbsp;<a title="Page 2" class="number"
                                    href="2/index.html">2</a>&nbsp;<a title="Page 3" class="number" href="3/index.html">3</a>&nbsp;<a
                                    title="Page 4" class="number" href="4/index.html">4</a>&nbsp;<a title="Page 5"
                                    class="number" href="5/index.html">5</a>&nbsp;<a title="Page 6" class="number" href="6/index.html">6</a>&nbsp;<a
                                    title="Page 7" class="number end" href="7/index.html">7</a>&nbsp;<a class="next"
                                    href="2/index.html">Tiếp theo</a>&nbsp; </ul>
                        </div>
                    </div>
                </font>
            </font>
        </font>
    </div>
    <font class="price">
        <font class="price">
            <font class="price">
            </font>
        </font>
    </font>
</div>