<div class="main">
    <div class="sidebar-l">
        <div class="menugt">
            <div class="linktop2">
                <h2 class="imgtvp title">Giới thiệu</h2>
            </div>
            <ul class="catgt">
                <li class="bg1px">
                    <h2><a href="gioi-thieu/gioi-thieu-chung.html" title="Giới thiệu chung">Giới thiệu chung</a></h2>
                </li>
                <li class="bg1px">
                    <h2><a href="gioi-thieu/dich-vu-cung-cap.html" title="Dịch vụ cho thuê văn phòng">Dịch vụ cho thuê
                            văn phòng</a></h2>
                </li>

            </ul>
        </div>
        <div class="bdoitac">
            <div class="linktop2">
                <h2 class="imgtvp partner">Đối tác</h2>
            </div>

            <div class="bannerpn">
                <a href="http://alphahousing.vn/" target="_blank" title="Hanoi Housing">
                    <img src="uploads/partners/1449679212-367726.png" alt="Hanoi Housing">
                </a>
            </div>
            <div class="bannerpn">
                <a href="http://www.vietnambiz.com/" target="_blank" title="Vietnambiz">
                    <img src="uploads/partners/1331348451-383063.jpg" alt="Vietnambiz">
                </a>
            </div>
        </div>
    </div>
    <div class="pageright">
        <div class="maingt">
            <div class="linktop2">
                <div class="imgtvp i-home"></div>
                <span><a href="index.html" title="Trang chủ">Trang chủ</a>»
                    <a href="gioi-thieu.html" title="Giới thiệu">Giới thiệu</a></span>
            </div>
            <!--      <span class="titlegt">Giới thiệu Office lease</span>-->
            <ul class="itemgt">
                <li>
                    <h2><a href="gioi-thieu/gioi-thieu-chung.html" title="Giới thiệu chung">Giới thiệu chung</a></h2>
                    <a href="gioi-thieu/gioi-thieu-chung.html" title="Giới thiệu chung">
                        <img src="uploads/news/thumb_174-96/1362800818-296196.png" title="Giới thiệu chung" alt="Giới thiệu chung"
                            class="thumb"></a>
                    <p>Đáp ứng mong muốn của khách hàng, đồng thời trở thành cầu nối vững chắc ...</p>
                    <p class="source"><a href="gioi-thieu/gioi-thieu-chung.html" title="Giới thiệu chung">Xem thêm »</a></p>
                </li>
                <li>
                    <h2><a href="gioi-thieu/dich-vu-cung-cap.html" title="Dịch vụ cho thuê văn phòng">Dịch vụ cho thuê
                            văn phòng</a></h2>
                    <a href="gioi-thieu/dich-vu-cung-cap.html" title="Dịch vụ cho thuê văn phòng">
                        <img src="uploads/news/thumb_174-96/1.jpg" title="Dịch vụ cho thuê văn phòng" alt="Dịch vụ cho thuê văn phòng"
                            class="thumb"></a>
                    <p>Dựa trên nền tảng vững chắc trong lĩnh vực nghiên cứu, cung cấp các giải ...</p>
                    <p class="source"><a href="gioi-thieu/dich-vu-cung-cap.html" title="Dịch vụ cho thuê văn phòng">Xem
                            thêm »</a></p>
                </li>

            </ul>
        </div>
        <div class="imgdn">
            <h2>Hình ảnh doanh nghiệp</h2>
            <div class="slidedn">
                <div id="Pictures2">
                    <div class="Pre2">
                        <a href="#" onclick="sp.showPreviousPanel(1); return false;">
                            <img src="public/client/images/prev.gif" alt=""></a></div>
                    <div class="Next2">
                        <a href="#" onclick="sp.showNextPanel(1); return false;">
                            <img src="public/client/images/next.gif" alt=""></a>
                    </div>
                    <div valign="middle" style="overflow: hidden;" id="slidingPanel2" class="SlidingPanels2 SlideControlAni2 SlidingPanelsAnimating">
                        <div style="left: -359px; top: 0px;" class="SlideControlCGroup2">
                            <div class="ContentSlide2">
                                <a href="gioi-thieu/hinh-anh-doanh-nghiep.html" title="Hinh anh doanh nghiep">

                                    <img src="uploads/album_company/thumb_104-74/1331537796-256736.jpg" alt="Giới thiệu sản phẩm dành cho Khách Hàng"
                                        title="Giới thiệu sản phẩm dành cho Khách Hàng">
                                </a><br>
                            </div>
                            <div class="ContentSlide2">
                                <a href="gioi-thieu/hinh-anh-doanh-nghiep.html" title="Hinh anh doanh nghiep">

                                    <img src="uploads/album_company/thumb_104-74/1331537796-516555.jpg" alt="Văn phòng làm việc Sàn An cư"
                                        title="Văn phòng làm việc Sàn An cư">
                                </a><br>
                            </div>
                            <div class="ContentSlide2">
                                <a href="gioi-thieu/hinh-anh-doanh-nghiep.html" title="Hinh anh doanh nghiep">

                                    <img src="uploads/album_company/thumb_104-74/1331537850-329540.jpg" alt="Nhân viên chăm sóc khách hàng"
                                        title="Nhân viên chăm sóc khách hàng">
                                </a><br>
                            </div>
                            <div class="ContentSlide2">
                                <a href="gioi-thieu/hinh-anh-doanh-nghiep.html" title="Hinh anh doanh nghiep">

                                    <img src="uploads/album_company/thumb_104-74/1331537850-771709.jpg" alt="Giới thiệu sản phẩm"
                                        title="Giới thiệu sản phẩm">
                                </a><br>
                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript">
                    var sp = new SlidingPanels("slidingPanel2");
                    sp.showNextPanelWithTimeOut(0, 3000);
                </script>
            </div>
        </div>
    </div>
</div>