<!-- Footer -->

<footer class="footer">
    <div class="footer_main">
        <div class="container">
            <div class="row">

            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer_logo"><a href="#"><img src="images/logo_large.png" width="80px" height="80px" alt=""></a></div>
                    <div class="footer_logo">Web bất động sản by KT22.06</div>
                    <div class="footer_logo">Nhập môn công nghệ phần mềm</div>
                </div>
                <div class="col-lg-3 footer_col">
                    <div class="footer_latest d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="footer_latest_image"><img src="images/footer_latest_1.jpg" alt=""></div>
                        </div>
                        <div class="footer_latest_content">
                            <div class="footer_latest_location">Miami</div>
                            <div class="footer_latest_name"><a href="#">Sea view property</a></div>
                            <div class="footer_latest_price">$ 1. 232 981</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 footer_col">
                    <div class="footer_latest d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="footer_latest_image"><img src="images/footer_latest_2.jpg" alt=""></div>
                        </div>
                        <div class="footer_latest_content">
                            <div class="footer_latest_location">Miami</div>
                            <div class="footer_latest_name"><a href="#">Town House</a></div>
                            <div class="footer_latest_price">$ 2. 534 781</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 footer_col">
                    <div class="footer_latest d-flex flex-row align-items-start justify-content-start">
                        <div>
                            <div class="footer_latest_image"><img src="images/footer_latest_3.jpg" alt=""></div>
                        </div>
                        <div class="footer_latest_content">
                            <div class="footer_latest_location">Miami</div>
                            <div class="footer_latest_name"><a href="#">Modern House</a></div>
                            <div class="footer_latest_price">$ 3. 878 245</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_bar_content d-flex flex-row align-items-center justify-content-start">
                        <div class="cr">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> edit by KT22 <i class="fa fa-heart-o"
                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">KT22.06</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="footer_nav">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="#">Nhà đất bán</a></li>
                                <li><a href="properties.html">Nhà đất thuê</a></li>
                                <li><a href="news.html">Post</a></li>
                            </ul>
                        </div>
                        <div class="footer_phone ml-auto"><span>call us: </span>113</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>