<!-- Home Search -->
<div class="home_search">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="home_search_container">
          <div class="home_search_content">
            <form
              action="/api/finds/search"
              class="search_form d-flex flex-row align-items-start justfy-content-start"
            >
              <div
                class="search_form_content d-flex flex-row align-items-start justfy-content-start flex-wrap"
              >
                <div>
                  <select
                    name="hinhThucSearch"
                    id="idHinhThucSearch"
                    class="search_form_select"
                  >
                    <option value="sell" selected>Mua nhà</option>
                    <option value="rent">Thuê nhà</option>
                  </select>
                </div>
                <div>
                  <select
                    name="loaiSearch"
                    id="idLoaiSearch"
                    class="search_form_select"
                  >
                    <option value="Bán căn hộ chung cư">Căn hộ chung cư</option>
                  </select>
                </div>
                <div>
                  <select
                    name="thanhPhoSearch"
                    id="idTinhThanhPhoSearch"
                    class="search_form_select"
                  >
                    <option value="Hà Nội">Hà Nội</option>
                    <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                  </select>
                </div>
                <div>
                  <select name="dienTichSearch" class="search_form_select">
                    <option value="-1">Diện tích tăng dần</option>
                    <option value="1">Diện tích giảm dần</option>
                  </select>
                </div>
                <div>
                  <select name="giaSearch" class="search_form_select">
                    <option value="-1">Giá tăng dần</option>
                    <option value="1">Giá giảm dần</option>
                  </select>
                </div>
              </div>
              <button class="search_form_button ml-auto">Filter</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  /* Loại */
  var contentLoaiDatBan =
    '<option value="Bán căn hộ chung cư">Căn hộ chung cư</option>' +
    '<option value="Bán nhà riêng">Nhà riêng</option>' +
    '<option value="Bán nhà mặt phố">Nhà mặt phố</option>' +
    '<option value="Bán kho, nhà xưởng">Kho, nhà xưởng</option>';

  var contentLoaiDatThue =
    '<option value="Cho thuê căn hộ chung cư">Căn hộ chung cư</option>' +
    '<option value="Cho thuê nhà trọ, phòng trọ">Nhà trọ, phòng trọ</option>' +
    '<option value="Cho thuê văn phòng">Văn phòng</option>';

  var chooseHinhThucSearch = document.getElementById("idHinhThucSearch");
  chooseHinhThucSearch.addEventListener("click", function() {
    if (chooseHinhThucSearch.value === "sell") {
      renderLoaiSearch(contentLoaiDatBan);
    } else if (chooseHinhThucSearch.value === "rent") {
      renderLoaiSearch(contentLoaiDatThue);
    } else {
      renderLoaiSearch('<option value="">--Loại--</option>');
    }
  });

  function renderLoaiSearch(contentLoai) {
    document.getElementById("idLoaiSearch").innerHTML = contentLoai;
  }
</script>
