.slidetoanha{ position:relative; width:100%;}
.sliderwrapper{
position: relative; float:left;
overflow: hidden;
width: 872px;
height: 120px; margin:12px 0 0 13px; display:inline;
}

.sliderwrapper .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
background: white;
width: 872px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
height: 100%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.pagination{
width: 837px; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
text-align: right;
padding: 5px 10px;
position:relative; top:0; font-size:11px;
}

.pagination a{
padding: 1px 7px;
text-decoration: none; 
color: #0D59B3;
background: white; border:1px #ced7d4 solid; background:url(../images/bg-pana.gif) repeat-x; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}

.pagination a:hover, .pagination a.selected{
color: #fb6c08;
background-color: #FEE496;
}
.sliderwrapper .contentdiv ul{ position:relative; float:left; width:852px; margin-left:32px; display:inline;}
.sliderwrapper .contentdiv ul li{ float:left; width:210px; }
.sliderwrapper .contentdiv ul li img{ width:172px; padding-bottom:5px;}
.sliderwrapper .contentdiv ul li a{ background:url(../images/arrow2.gif) no-repeat left center; padding-left:10px;}
.sliderwrapper .contentdiv ul li p{ width:100%;}