<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./layout/head.ejs")%>
</head>

<body>
    <%- include("./layout/header.ejs")%>
    <%- include("./layout/menu.ejs")%>
    <%- include("./layout/search.ejs")%>
</body>

</html>