<div id="header">
    <div class="logooffice">
        <a href="index.html"><img class="png" alt="thuevanphong.com.vn" title="thuevanphong.com.vn" src="public/client/images/office.png"></a>
    </div>
    <div class="o-hotline">
        Hotline: <font class="number">0915 935 515</font>
    </div>
    <div class="copyright">Một dịch vụ của AN CƯ</div>
</div>
