<div class="jqueryslidemenu" id="myslidemenu">
    <ul>
        <li><a href="index.html" title="Trang chủ" id="home" class="current"><span>Trang chủ</span></a></li>
        <li><a href="gioi-thieu.html" title="Giới thiệu" id="products">Giới thiệu</a></li>
        <li><a href="toa-nha-van-phong/index.html" title="Toà nhà văn phòng" id="privacy">Toà nhà văn phòng</a></li>
        <li><a href="van-phong-cho-thue/index.html" title="Văn phòng cho thuê" id="privacy">Văn phòng cho thuê</a></li>
        <li><a style="padding-right: 23px;" href="cam-nang/index.html" title="Cẩm nang" id="privacy">Cẩm nang</a>
            <ul style="top: 34px; visibility: visible; left: 0px; width: 210px; display: none;">
                <li><a href="cam-nang/phong-thuy-van-phong/index.html">Phong thủy văn phòng</a></li>
                <li><a href="cam-nang/thiet-ke-van-phong/index.html">Thiết kế văn phòng</a></li>
                <li><a href="cam-nang/tu-van-luat/index.html">Tư vấn luật</a></li>
            </ul>
        </li>
        <li><a href="lien-he.html" title="Liên hệ" id="privacy">Liên hệ</a></li>
        <li><a href="ky-gui-san-pham.html" title="Ký gửi sản phẩm" class="kygui">Ký gửi</a></li>
    </ul>
    <br style="clear: left">
</div>