<div class="b-search">
    <label><b>Tìm kiếm:</b> Thuê văn phòng theo khu vực Quận / Huyện tại Hà Nội</label>
    <span class="forms">
        <form name="frmsearch" action="#" method="post" />
        <select style="width:19%;" id="districts">
            <option value="all">Quận / Huyện</option>
            <option value="5">-- Ba Đình</option>
            <option value="11">-- Cầu Giấy</option>
            <option value="6">-- Đống Đa</option>
            <option value="10">-- Hà Đông</option>
            <option value="7">-- Hai Bà Trưng</option>
            <option value="1">-- Hoàn Kiếm</option>
            <option value="13">-- Hoàng Mai</option>
            <option value="12">-- Long Biên</option>
            <option value="8">-- Tây Hồ</option>
            <option value="9">-- Thanh Xuân</option>
            <option value="18">-- Từ Liêm</option>
        </select>
        <select style="width:19%;">
            <!--                 		<option value="0">Loại văn phòng</option>-->
            <!--                	    <option value="1">--- Tòa nhà văn phòng</option>-->
            <option value="2">Loại văn phòng</option>
            <!--                	     <option value="3">--- Văn phòng giá rẻ</option>-->
            <!--                	    <option value="4">--- Mặt bằng bán lẻ</option>-->
        </select>

        <select style="width:19%;" id="price" name="price">
            <option value="all">Mức giá</option>
            <option value="10">Dưới 10 USD/m2/tháng</option>
            <option value="15">Dưới 15 USD/m2/tháng</option>
            <option value="20">Dưới 20 USD/m2/tháng</option>
            <option value="25">Dưới 25 USD/m2/tháng</option>
            <option value="30">Dưới 30 USD/m2/tháng</option>
            <option value="35">Dưới 35 USD/m2/tháng</option>
            <!--<option value="40">Dưới 40 USD/m2</option>
    <option value="45">Dưới 45 USD/m2</option>
    <option value="50">Dưới 50 USD/m2</option>
    <option value="60">Dưới 60 USD/m2</option>
    <option value="61">Trên 60 USD/m2</option>-->
        </select>

        <select style="width:19%;" id="area" name="area">
            <option value="all">Diện tích</option>
            <option value="30">Dưới 30 m2</option>
            <option value="70">Dưới 70 m2</option>
            <option value="100">Dưới 100 m2</option>
            <option value="150">Dưới 150 m2</option>
            <option value="200">Dưới 200 m2</option>
            <option value="500">Dưới 500 m2</option>
            <option value="1000">Dưới 1000m2</option>
            <!--<option value="2000">Dưới 2000m2</option>
    <option value="5000">Dưới 5000m2</option>
    <option value="5001">Trên 5000m2</option>-->
        </select>
        <input type="button" name="" onclick="filter_home();" value="" class="imgtvp btns" />
        </form>
    </span>
</div>